@using BlazorBandNoodling.Shared.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<Modal Title=@Title OnCancel="@OnCancel" OnSave="@OnSave">
    <EditForm Model="@Student">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <p class="form-group">
            <label for="LastName">Last Name</label>
            <InputText Class="form-control" Id="LastName" bind-Value="@Student.LastName" />
        </p>
        <p class="form-group">
            <label for="FirstName">First Name</label>
            <InputText Class="form-control" Id="FirstName" bind-Value="@Student.FirstName" />
        </p>
        <p class="form-group">
            <label for="MNumber">MNumber</label>
            <InputText Class="form-control" Id="MNumber" bind-Value="@Student.MNumber" />
            <small id="MNumberHelp" class="form-text text-muted">Must be an M followed by 8 digits.</small>
        </p>
    </EditForm>
</Modal>

@functions {
    [Parameter] Student Student { get; set; }
    [Parameter] string Title { get; set; }
    [Parameter] EventCallback OnSave { get; set; }
    [Parameter] EventCallback OnCancel { get; set; }
}
