@page "/students"
@inject BlazorClient.Services.IStudentDataAccess DataService

<h1>Student Operations</h1>

@if (students == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container-fluid">
        <div class="row mb-3 justify-content-between">
            <div class="col">
                <div class="btn-group" role="group" aria-label="Add Students">
                    <button class="btn btn-primary" type="button" onclick="@AddStudent">
                        Add Student
                    </button>
                    <button class="btn btn-dark" type="button" onclick="@(async () => await AddExampleStudentAsync())">
                        Add Example Student
                    </button>
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search" bind="@SearchString" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-info" onclick="@FilterStudents">Filter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <caption>List of Students</caption>
        <thead>
            <tr>
                <th scope="col">
                    <a href="javascript:;" onclick="@(async () => await ToggleLastNameSort())">
                        Last Name
                    </a>
                </th>
                <th scope="col">
                    <a href="javascript:;" onclick="@(async () => await ToggleFirstNameSort())">
                        First Name
                    </a>
                </th>
                <th scope="col">M-Number</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in students)
            {
                <tr>
                    <td>@student.LastName</td>
                    <td>@student.FirstName</td>
                    <td>@student.MNumber</td>
                    <td class="btn-group">
                        <button class="btn btn-light" onclick="@(async () => await EditStudent(student.ID))">Edit</button>
                        <button class="btn btn-danger" onclick="@(async () => await DeleteConfirm(student.ID))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (isAddOrEdit)
    {
        <StudentAddModal Title="@ModalTitle" Student="@selectedStudent"
                         OnSave="@SaveStudent" OnCancel="@CloseModal" />
    }

    @if (isDelete)
    {
        <StudentDeleteModal Title="@ModalTitle" Student="@selectedStudent"
                            OnSave="@DeleteStudent" OnCancel="@CloseModal" />
    }
}

@functions {

    protected Student[] students;
    protected bool isAddOrEdit = false;
    protected bool isDelete = false;

    protected string ModalTitle { get; set; }
    protected Student selectedStudent = new Student();

    protected string SearchString { get; set; } = "";

    protected string CurrentSort { get; set; } = "last_name";

    protected Dictionary<string, string> QueryParameters { get; set; } = new Dictionary<string, string>();

    // Initialization/Utility Functions

    protected override async Task OnInitAsync()
    {
        await GetStudents();
    }

    protected async Task AddExampleStudentAsync()
    {
        var student = new Student
        {
            FirstName = "Ben",
            LastName = "Hollar",
            MNumber = "M12345678"
        };
        await DataService.AddStudent(student);

        await GetStudents();
    }

    // DOM Manipulation Functions

    protected void CloseModal()
    {
        this.isAddOrEdit = false;
        this.isDelete = false;
    }

    protected void AddStudent()
    {
        selectedStudent = new Student();
        ModalTitle = "Add Student";
        isAddOrEdit = true;
    }

    protected async Task EditStudent(int id)
    {
        selectedStudent = await DataService.RetrieveStudent(id);
        ModalTitle = "Edit Student";
        isAddOrEdit = true;
    }

    protected async Task DeleteConfirm(int id)
    {
        selectedStudent = await DataService.RetrieveStudent(id);
        ModalTitle = "Delete Student";
        isDelete = true;
    }

    // DataService Interaction Functions

    protected async Task FilterStudents()
    {
        string searchKeyName = "search";
        if (string.IsNullOrEmpty(SearchString) && QueryParameters.ContainsKey(searchKeyName))
        {
            // If we have an empty search, we shouldn't attach a search string
            QueryParameters.Remove(searchKeyName);
        }
        else
        {
            QueryParameters[searchKeyName] = SearchString;

        }
        await GetStudents(); // GetStudents applies any filterstring
    }

    protected async Task GetStudents()
    {
        students = await DataService.GetStudents(QueryParameters);
    }

    protected async Task DeleteStudent()
    {
        await DataService.DeleteStudent(selectedStudent.ID);
        isDelete = false;
        await GetStudents();
    }

    protected async Task SaveStudent()
    {
        if (selectedStudent.ID != 0)
        {
            await DataService.UpdateStudent(selectedStudent);
        }
        else
        {
            await DataService.AddStudent(selectedStudent);
        }
        isAddOrEdit = false;
        await GetStudents();
    }

    // Sorting Operations

    protected async Task ToggleLastNameSort()
    {
        CurrentSort = CurrentSort == "last_name"
                      ? "-last_name"
                      : "last_name";
        QueryParameters["ordering"] = CurrentSort;

        await GetStudents();
    }

    protected async Task ToggleFirstNameSort()
    {
        CurrentSort = CurrentSort == "first_name"
                      ? "-first_name"
                      : "first_name";
        QueryParameters["ordering"] = CurrentSort;

        await GetStudents();
    }
}